/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --main-link-hover: #f5a425;
  --main-transation: 0.3s;
  --a-background: #a12c2f;
  --main-text-color: #1f272b;
}

.Box {
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
  background-position: center;
  display: flex;
  background-image: url("../images/Home7.png");
}

.box {
  display: flex;
  align-items: center;
}

ul {
  transition: var(--main-transation);
  margin: 0px;
}

ul li {
  list-style: none;
}

.start_button {
  padding: 7px 32px;
  font-size: 15px;
  background: #00d1bd;
  color: rgb(9, 9, 9);
  border: none;
  border-radius: 5px;
  transition: var(--main-transation);
  box-shadow: 2px 2px 15px #000000;
}

.homeContent {
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 500;
}

.homeContent div {
  font-size: 45px;
  margin: 20 0px;
}

.info {
  margin: 30px auto;
  background: white;
  border-radius: 3px;
}

.members {
  background-color: white;
}

.members .box {
  border: 1px solid #d5d5d5;
  padding: 20px;
  background-color: white;
}

.members .image {
  font-size: 50px;
  padding-left: 20px;
  text-align: center;
}

.members .image img {
  width: 100%;
}

.why_us .text {
  width: 50%;
  border-radius: 5px;
  background-color: #eee;
}

.why_us .image img {
  cursor: pointer;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  transition: 0.5s;
}

.why_us .image img:hover {
  transform: scale(0.5);
}

.info img {
  cursor: pointer;
  width: 70px;
  height: 70px;
  transition: 0.5s;
}

.info img:hover {
  transform: scale(1.5);
}
.numbers-cards {
  margin-top: 50px;
}
.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.WE{
  text-align: center;
}


.sectionheading{
  margin-top: 50px;
}
.FCB{
  text-align: center;
  margin: 50px;
}

.iconbox {
  border-radius: 30px;
  border: 1px solid #d1d1d3;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.iconbg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: #f1f6f4;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.rr {
  color: #171725;
  text-align: center;
  display: block;
  line-height: 40px;
  font-size: 25px;
}
.Description {
  text-align: center;
    color: #74747c;
}
.sectionheading {
  color: #171725;
  text-align: center;
}

.itemsbox {
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
  gap: 16%;
  margin-bottom: 80px;
}

.featureitem {
  position: relative;
}

.featurebody {
  position: absolute;
  top: 140px;
  text-align: center;
  width: 245px;
  margin-top: 25px;
  background-color: #f5a425;
}

.rectanglebox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00d1bd;
  border-radius: 30px;
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
}

.rectanglebox img {
  width: 60px;
  height: 60px;
}

.featurenumber {
  position: absolute;
  right: -13px;
  top: -15px;
  background-color: #ffaf47;
  color: #fff;
  border: 2px solid #fff;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureitembody {
  position: absolute;
  top: 140px;
  text-align: center;
  width: 245px;
}
.featureheader33 {
  color: #171725;
  text-align: center;
}

.featureheader1 {
  color: #171725;
  text-align: center;
}

.featuredescription {
  color: #74747c;
}

.feature-item.translate_up {
  transform: translateY(-40px);
}

.rectanglebox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00d1bd;
  border-radius: 30px;
  position: relative;
  width: 120px;
  height: 120px;
}

.rectanglebox img {
  width: 60px;
  height: 60px;
}

.featurenumber {
  position: absolute;
  right: -13px;
  top: -15px;
  background-color: #ffaf47;
  color: #fff;
  border: 2px solid #fff;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.featureheader2 {
  color: #171725;
  text-align: center;
  margin-top: 15px;
}
.featureheader2 {
  color: #171725;
  text-align: center;
}
.featuredescription {
  color: #74747c;
}

.featureitem.down:before {
  content: "";
  background-image: url(https://altibbi.com/theme/altibbi/icons/tbi-arrow-path-down.svg);
  background-size: cover;
  width: 185px;
  top: 60px;
  height: 61px;
  position: absolute;
  right: 140px;
}

.feature-item {
  position: relative;
  padding: auto;
}


.feature-item:not(:last-of-type):before {
  content: "";
  background-image: url(https://altibbi.com/theme/altibbi/icons/tbi-arrow-path-up.svg
  );
  background-size: cover;
  width: 185px;
  height: 73px;
  position: absolute;
  right: 140px;
}
.rectanglebox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00d1bd;
  border-radius: 30px;
  position: relative;
  width: 120px;
  height: 120px;
}
.featurenumber {
  position: absolute;
  right: -13px;
  top: -15px;
  background-color: #ffaf47;
  color: #fff;
  border: 2px solid #fff;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-item.translate_up {
  transform: translateY(-40px);
}

.rectanglebox img {
  width: 60px;
  height: 60px;
}
.featurenumber {
  position: absolute;
  right: -13px;
  top: -15px;
  background-color: #ffaf47;
  color: #fff;
  border: 2px solid #fff;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

