@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

body {
  box-sizing: border-box;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
  /* font-family: "Marhey", sans-serif;; */
}
:root {
  --main-link-hover: #f5a425;
  --main-transation: 0.3s;
  --a-background: #a12c2f;
  --main-text-color: #1f272b;
  --main-backGraound:#ecf1f9;
}
.info_page{
/* background-color: #f6f7fa; */
background-color: var(--main-backGround);
}
.main_info,.var_info{
  background-color: #ebf6ee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.info_page .main_info{
border-radius: 30px;
}

.var_info{
  border-radius: 30px;
}

.main_info div{
  color: #0d0d0d;
  margin-bottom: 19px;
  font-size: 15px;
  line-height: 1.1;
  
}
.main_info div span{
  font-size: 16px;
  color:#009999;
  transition: var(--main-transation);
}

.main_info div span a{
  color:  black;
}
.important_info{
  gap: 20px;
}
.important_info>div{
width: calc((100% - 20px) / 2);
color: var(--main-text-color);
}
@media (max-width:465px) {
  .important_info div{
    width: 100%;
    }
}
.important_info div p{
 
}
.info_page{
  padding: 15px;
}